* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-image: 
    radial-gradient(ellipse at 50% 50%, rgba(0, 0, 0, .5) 25%, rgba(0, 0, 0, .3) 75%),
    url("../img/pexels-pixabay-45230.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Dosis', sans-serif;
    font-size: 62.5%;
}

@media (min-width: 48em) {
        html {
            font-size: 1.5rem;
        }
}
.header {
    text-align: center;
}

.logo {
    max-width: 20rem;
    margin-top: 5rem;
    margin-bottom: 3.5rem;
    
    animation: fly-in 5s ease-in-out 0s 1, 
               plain-hover 10s ease-in-out 5.5s infinite;
}

@keyframes fly-in {
    0% {
        opacity: 0;
        transform: translate(-60vw, 0);
    }
    100% {
        opacity: .9;
        transform: translate(0, 0);
    }  
}

@keyframes plain-hover {
    0%, 100% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0, -.7rem);
    }   
    50% {
        transform: translate(0, .7rem)
    }  
    75% {
        transform: translate(0, .5rem) scale(1.025);
    }
}



.main {
    font-size: 1.5rem;
    color: white;
    text-align: center;
}
.main--heading {
    margin-bottom: .5rem;
    text-shadow: 0 0 .5rem black;
}
.main--paragraph {
    text-shadow: 0 0 .5rem black;
}

.button {
    display: inline-block;
    margin-top: 1rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background-color: rgb( 167, 135, 115);
    padding: 1rem 2rem;
    border-radius: 10000px;

    transition: background-color 500ms;
}

.button:hover {
    background-image: radial-gradient(circle at 50% 50%, rgb( 135, 111, 96) 1%, rgb( 96, 76, 66) 1%);
    background-size: 20000% 20000%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: background-size linear 250ms;
}


.button:hover:active {
    transition-duration: 0s;
    background-size: 100% 100%;
}